.check-animation {
  --check-animation-ease: cubic-bezier(0.645, 0.045, 0.355, 1);
  --check-animation-shape-duration: 600ms;
  --check-animation-check-duration: 400ms;
}

.check-animation-shape {
  animation: check-animation-draw var(--check-animation-shape-duration)
    var(--check-animation-ease) forwards;
}

.check-animation-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.check-animation-checkmark {
  animation: check-animation-draw var(--check-animation-check-duration)
    var(--check-animation-ease) var(--check-animation-shape-duration) forwards;
}

@keyframes check-animation-draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .check-animation-shape,
  .check-animation-checkmark {
    animation-duration: 1ms;
    animation-delay: 0ms;
  }
}
